# CLion-specific
.idea/
*.iml

#vscode
.vscode/

# Build output
cmake-build-debug/
cmake-build-release/
build/
*.o
*.a
*.so
*.dylib
*.exe
*.out

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Backup and temporary files
*~
*.swp
*.swo

# OS and Editor folders
.directory
.DS_Store

# Version Control
.git/
.svn/
.hg/

# Log and temp files
logs/
temp/
*.log
*.tmp

*.docx
*.pdf
*.txt
*.pptx
*.csv
*.xlsx
*.xls
*.doc
*.ppt
*.jpg
*.jpeg
*.png
